# ===============================
# FRONTEND
# ===============================

**/node_modules/
**/dist/

**/.env
**/.env.*
!**/.env.example

# ===============================
# BACKEND
# ===============================
# Local Spring secrets
**/src/main/resources/application-local.properties
**/target/
**/data/
backend/somnera_mattress_backend/uploads/
**/.idea/
**/*.iml

# ===============================
# IDE / OS
# ===============================

.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# LOGS
# ===============================

*.log
.local-run/
